<section id="dashboard">
    <md-content class="md-padding">
      <md-card>
        <md-card-content>
          <p>Trip to Hawaii</p>

          <md-input-container class="md-icon-float" >
            <!-- Use floating label instead of placeholder -->
            <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="netIncome"></md-icon>
            <input ng-model="user.netIncome" type="text" placeholder="Net Income" ng-required="true">
          </md-input-container>
          <md-input-container>
            <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
            <input ng-model="user.costOfLiving" type="text" placeholder="Cost of Living" ng-required="true">
          </md-input-container>
          <md-input-container >
            <!-- Use floating placeholder instead of label -->
            <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="disposableIncome"></md-icon>
            <input ng-model="user.disposableIncome" type="disposableIncome" placeholder="Disposable Income" ng-required="true">
          </md-input-container>
          <md-input-container>
            <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
            <input ng-model="user.installment" type="text" placeholder="Installment" ng-required="true" >
          </md-input-container>

        </md-card-content>
      </md-card>
    </md-content>
</section>