#dashboard {

  margin: 0 auto;
  width: 90%;
  @include clearfix;

  p {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
  }

input::-webkit-input-placeholder { /* WebKit browsers */
   color:    #fff;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}


}
