#about {

  margin: 60px auto;
  width: 100%;
  @include clearfix;

  p {
    padding: 50px;
    background-color: rgba(42, 42, 42, .8);
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    font-size: 60px;
    font-weight: 300;
    color: white;
    float: left;
  }

  .carousel {
    float: right;
    width: 55%;
    overflow: hidden;
    margin: 0 auto;
    .carousel-inner {
      height: 500px !important;
    }
    .carousel-control {
      background: none;
    }
    .carousel-indicators {
      display: none;
    }
    img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto;
    }
  }

}
