<section id="home" class="main">
	<div class="med-col-1">
		<h1>Time to SaveUp for: 
			<br> 
			<span>{{ wanted }}</span>
		</h1>
		<form id="initial-form" name="initialForm">

		    <alert type="danger" ng-show="showAlert">
		        Please do not leave this field empty!
		    </alert>

		    <div class="form-group">
<!-- 		        <label for="email">Email address</label> -->
		        <input type="text" ng-model="newPlan" class="form-control" id="email" placeholder="I would like to save up for...">
		    </div>
<!-- 		    <div class="form-group">
		        <label for="login-password">Password</label>
		        <input type="password" ng-model="login.password" class="form-control" id="login-password" placeholder="Password">
		    </div> -->
		    <div class="pull-right">
		    	<md-button class="btn1" ng-click="enterPlan(newPlan)"> Log in with Twitter and start saving!</md-button>
			    <!-- <button type="submit" class="btn btn-danger">Start Saving</button> -->
<!-- 			    <h4>
			    	Or proceed to log in!
			    </h4> -->
		    </div>
		</form>
	</div>
	
    <!-- <fullstack-logo></fullstack-logo>
    <rando-greeting></rando-greeting> -->
</section>
